<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>demo</title>
  <style>
    div {
      font: 30px/2 "微软雅黑";
      text-align: center;
      margin-top: 300px;
      color: red;
      animation:mymove 1s infinite;
      -webkit-animation:mymove 1s infinite;
    }
    @keyframes mymove {
      0% {
        opacity: 0;
        transform: translateY(-3px);
      }
      100% {
        opacity: 1;
        transform: translateY(3px);
      }
    }
  </style>
</head>
<body>
  <div>我是一段卟啉卟啉的文字</div>
</body>
</html>
